Repository nuqayah/svelte-tpl: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

prettier:
  run: pnpm exec prettier --write {staged_files} && git add {staged_files}

App: improve 404
  src/App.svelte
Due: eslint, prettier

vite minor perf: add server.watch.ignored
  vite.config.js
Due: eslint, prettier

pkgs: add simple-icons
  package.json
Due: none

pkgs: update
  package.json
Due: none

gitignore: minor
  .gitignore
Due: none

base.css: remove --light-blue
  src/css/base.css
Due: prettier

fix theme icon
  src/components/nav/nav.svelte
Due: eslint, prettier

Add simple icons usage
  pnpm-lock.yaml
  src/components/footer.svelte
  src/components/hero/hero-cta.svelte
  src/css/base.css
Due: eslint, prettier

remove icons.svg
  public/icons.svg
Due: none

jsconfig: strict=false
  jsconfig.json
Due: none

pkgs: update
  package.json
  pnpm-lock.yaml
Due: none

migrate: upgrade to Tailwind v4
  components.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App.svelte
  src/components/demo-showcase.svelte
  src/components/feature/feature-card.svelte
  src/components/feature/features.svelte
  src/components/footer.svelte
  src/components/hero/hero-cta.svelte
  src/components/hero/hero.svelte
  src/components/nav/nav.svelte
  src/css/base.css
  src/css/tailwind.css
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/card/card-action.svelte
  src/lib/components/ui/card/card-content.svelte
  src/lib/components/ui/card/card-description.svelte
  src/lib/components/ui/card/card-footer.svelte
  src/lib/components/ui/card/card-header.svelte
  src/lib/components/ui/card/card-title.svelte
  src/lib/components/ui/card/index.js
  src/lib/components/ui/dialog/dialog-close.svelte
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/dialog/dialog-description.svelte
  src/lib/components/ui/dialog/dialog-footer.svelte
  src/lib/components/ui/dialog/dialog-header.svelte
  src/lib/components/ui/dialog/dialog-overlay.svelte
  src/lib/components/ui/dialog/dialog-title.svelte
  src/lib/components/ui/dialog/dialog-trigger.svelte
  src/lib/components/ui/dialog/index.js
  src/lib/components/ui/input/input.svelte
  src/lib/components/ui/label/label.svelte
  src/lib/components/ui/tabs/index.js
  src/lib/components/ui/tabs/tabs-content.svelte
  src/lib/components/ui/tabs/tabs-list.svelte
  src/lib/components/ui/tabs/tabs-trigger.svelte
  src/lib/components/ui/tabs/tabs.svelte
  tailwind.config.js
  vite.config.js
Due: eslint, prettier

api
  api/main.py
  mise.toml
  pyproject.toml
  uv.lock
Due: none

api
  .gitignore
  api/main.py
  mise-api.toml
  pyproject.toml
  readme.md
  uv.lock
Due: none

prettier: add tailwindStylesheet
  prettier.config.js
Due: eslint, prettier

add .cursor/rules/naming.md
  .cursor/rules/naming.md
Due: none

lefthook: add checks
  lefthook.yaml
Due: none

remove tailwind configuration file
  tailwind.config.js
Due: eslint, prettier

pkgs: update tailwindcss and related dependencies to version 4.1.13, remove unused postcss packages, and adjust eslint configuration
  .prettierignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore: add lightningcss as a dependency and configure it in vite.config.js
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: eslint, prettier

npx @tailwindcss/upgrade
  src/components/demo-showcase.svelte
  src/components/feature/feature-card.svelte
  src/components/feature/features.svelte
  src/components/footer.svelte
  src/components/hero/hero-cta.svelte
  src/components/hero/hero.svelte
  src/components/nav/nav.svelte
Due: eslint, prettier

chore: update browserslist configuration in package.json and remove target specifications from vite.config.js
  package.json
  vite.config.js
Due: eslint, prettier

chore: remove unused autoprefixer and cssnano dependencies from package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

vite.config.js: remove unused lightningcss config
  vite.config.js
Due: eslint, prettier

pkgs update
  package.json
  pnpm-lock.yaml
Due: none

prettier
  src/Home.svelte
  src/lib/components/ui/card/card-description.svelte
  src/lib/components/ui/card/card.svelte
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/dialog/dialog-description.svelte
  src/lib/components/ui/dialog/dialog-overlay.svelte
  src/lib/components/ui/input/input.svelte
  src/lib/components/ui/tabs/tabs-list.svelte
  src/lib/components/ui/tabs/tabs-trigger.svelte
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,svelte}
  prettier: any of: *.{js,ts,svelte,html,css}
