Repository nuqayah/svelte-tpl: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm exec eslint --fix {staged_files} && git add {staged_files}

prettier:
  run: pnpm exec prettier --write {staged_files} && git add {staged_files}

add bits-ui, lucide-svelte
  package.json
Due: none

add @eslint/js
  package.json
Due: none

fonts: add Noto, SafariFakeFont
  src/css/base.css
  tailwind.config.js
Due: eslint, prettier

pkgs: update, add components
  package.json
Due: none

shadcn
  components.json
  jsconfig.json
  package.json
  src/css/tailwind.css
  src/lib/utils.js
  tailwind.config.js
  vite.config.js
Due: eslint, prettier

add shadcn dialog
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/dialog/dialog-description.svelte
  src/lib/components/ui/dialog/dialog-footer.svelte
  src/lib/components/ui/dialog/dialog-header.svelte
  src/lib/components/ui/dialog/dialog-overlay.svelte
  src/lib/components/ui/dialog/dialog-title.svelte
  src/lib/components/ui/dialog/index.js
Due: eslint, prettier

add $ui alias
  jsconfig.json
  vite.config.js
Due: eslint, prettier

add tw-animate-css
  package.json
  src/css/base.css
Due: prettier

add shadcn btn, label, input
  src/Home.svelte
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/button/index.js
  src/lib/components/ui/input/index.js
  src/lib/components/ui/input/input.svelte
  src/lib/components/ui/label/index.js
  src/lib/components/ui/label/label.svelte
Due: eslint, prettier

main.js: add preinit.js
  package.json
  src/css/tailwind.css
  src/main.js
  src/util/preinit.js
Due: eslint, prettier

shadcn: add tabs, card
  src/lib/components/ui/card/card-content.svelte
  src/lib/components/ui/card/card-description.svelte
  src/lib/components/ui/card/card-footer.svelte
  src/lib/components/ui/card/card-header.svelte
  src/lib/components/ui/card/card-title.svelte
  src/lib/components/ui/card/card.svelte
  src/lib/components/ui/card/index.js
  src/lib/components/ui/tabs/index.js
  src/lib/components/ui/tabs/tabs-content.svelte
  src/lib/components/ui/tabs/tabs-trigger.svelte
Due: eslint, prettier

demo-showcase
  public/nuqayah.png
  src/Home.svelte
  src/components/demo-showcase.svelte
  src/components/feature/feature-card.svelte
  src/components/feature/features.svelte
  src/components/footer.svelte
  src/components/hero/hero-cta.svelte
  src/components/hero/hero.svelte
  src/components/nav/nav-links.svelte
  src/components/nav/nav.svelte
  src/lib/components/ui/tabs/tabs-list.svelte
Due: eslint, prettier

pkgs: update
  package.json
Due: none

feat(api): add FastApi & mise
  .gitignore
  api/main.py
  mise.toml
  readme.md
  vite.config.js
Due: eslint, prettier

frontend: api-showcase
  src/components/api-showcase.svelte
  src/components/demo-showcase.svelte
  src/components/hero/hero-cta.svelte
  src/lib/components/ui/alert/alert-description.svelte
  src/lib/components/ui/alert/alert-title.svelte
  src/lib/components/ui/alert/alert.svelte
  src/lib/components/ui/alert/index.js
  src/lib/components/ui/badge/badge.svelte
  src/lib/components/ui/badge/index.js
Due: eslint, prettier

add uv
  pyproject.toml
  uv.lock
Due: none

api pkg fixes
  mise.toml
  pyproject.toml
  uv.lock
Due: none

index.html: remove rtl
  index.html
Due: prettier

API_PORT: update
  mise.toml
  vite.config.js
Due: eslint, prettier

minor cleanups
  src/Home.svelte
  src/components/api-showcase.svelte
  src/components/feature/feature-card.svelte
Due: eslint, prettier

App: add router type
  src/App.svelte
Due: eslint, prettier

api: set openapi_url
  api/main.py
Due: none

persist theme
  src/Home.svelte
  src/components/nav/nav.svelte
  src/main.js
  src/store.js
  src/stores.svelte.js
Due: eslint, prettier

App: improve 404 view
  src/App.svelte
Due: eslint, prettier

app: check $session.loaded, improve router initialization
  src/App.svelte
  src/globals.d.ts
  src/stores.svelte.js
Due: eslint, prettier

stores.js: sub after loading data
  src/stores.svelte.js
Due: eslint, prettier

base.css `html.safari body`: remove overflow-hidden and position-fixed
  src/css/base.css
Due: prettier

api: add logging
  api/main.py
  pyproject.toml
  uv.lock
Due: none

vite: set port in conf, not cli
  package.json
  vite.config.js
Due: eslint, prettier

add build.js
  build.js
  package.json
Due: eslint, prettier

globals.d.ts: add __BUILD_DATE__, __BUILD_HASH__, __APP_VERSION__
  src/globals.d.ts
Due: eslint, prettier

minor
  package.json
Due: none

lucide-svelte => @lucide/svelte
  package.json
  src/components/demo-showcase.svelte
  src/components/feature/feature-card.svelte
  src/components/feature/features.svelte
  src/components/footer.svelte
  src/components/hero/hero-cta.svelte
  src/components/nav/nav.svelte
  src/lib/components/ui/dialog/dialog-content.svelte
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,svelte}
  prettier: any of: *.{js,ts,svelte,html,css}
